header {
	background-color: #567cd0;
	background-image: url('../img/bg.png');
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid gray;
	border-bottom: none;
}

.menu {
	background-color: #567cd0;
	height: 20px;
	line-height: 20px;
	border: 1px solid gray;
	border-top: none;
	border-bottom: none;
}

.dropbtn {
    background-color: #567cd0;
	margin: 0;
    padding-left: 10px;
    font-size: 12px;
	color: #f5f5f5;
	border: none;
    border-right: 1px solid white;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
	color: white;
    background-color: #5770ca;
	outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 83px;
}

.dropdown-content a {
	font-size: 12px;
	color: white;
	background-color: #5770ca;
    padding-left: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content a:focus {
	background-color: #ddd;
	color: #5770ca;
}

.show {
	display: block;
}

hr {
	width: 180px;
	margin: 5px;
}

.gameInformation {
	float: left;
}

.mineRemainder {
	margin: 0;
	padding-left: 10px;
	height: 12px;
	font-size: 12px;
}

input {
	font-size: 11px;
	border: none;
}

.newGameBtn {
	border: 1px solid gray;
	border-top: none;
	width: 50px;
	height: 24px;
	background-color: #5770ca;
	background-image: url("../img/button/button.png");
	margin: 0;
	outline: none;
}

.newGameBtn:hover {
	background-image: url("../img/button/focus.png");
}

.timer {
	margin: 0;
	padding-left: 10px;
	height: 12px;
	font-size: 12px;
	float: top;
}

.game {
	margin-top: 2px;
	border: 1px solid gray;
}

.cell {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	float: left;
}

.mine {
	background-image: url("../img/mines/mine.png");
}

.blankCell {
	background-image: url("../img/board/blank.png");
}

.flag {
	background-image: url("../img/board/flag.png");
}

.question {
	background-image: url("../img/board/question.png");
}